h1 {
font-size: 46px;
font-weight: 700;
line-height: 59.8px;
text-align: center;
justify-content: center;

}

p {
font-size: 18px;
font-weight: 400;
line-height: 27px;
text-align: center;

}

